body, html {
    overflow: hidden;
}
.db-date {
    font-size: 60px;
    text-align: center;
}
.db-time {
    font-size: 80px;
    text-align: center;
}

/* Train schedules */
.train-time {
    font-size: 130%;
}
.train-delay {
    color: #f00;
    font-weight: bold;
    padding-left: 4px;
}
.train-dest {
}
.train-type {
}
.train-platf {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}
