body, html {
    overflow: hidden;
}

.table {
    margin-bottom: 0;
}
.width50 { width: 50.000% }

/* Date and time */
.table.datetime td {
    vertical-align: middle;
    text-align: center;
    width: 33.333%;
    background-color: #fff;
    color: #000;
}
.table.datetime td.dt-date { font-size: 70px; }
.table.datetime td.dt-dow  { font-size: 35px; }
.table.datetime td.dt-time { font-size: 80px; font-weight: bold; }

/* Weather */
.table.weather td {
    vertical-align: middle;
    text-align: center;
}
.table.weather th {
    vertical-align: middle;
    text-align: center;
    background-color: #333;
}
.table td.w-icon      { width: 150px; font-size: 100px; }
.table td.w-text      { width: 350px; font-size: 32px;  }
.table td.w-temp      { width: 350px; font-size: 92px;  }
.table td.w-smalltext { font-size: 26px;  text-align: left; padding: 4px; }
.table td.w-smallicon { font-size: 32px;  padding: 0; }
.table td.w-updated   { font-size: 11px;  }

.table th.w-fcast     { font-size: 32px; }
.table td.w-fcast     { font-size: 20px; border: none; }
.w-fcast-temp         { font-size: 16px; }
.w-fcast-temp:after   { font-size: 10px; content: '\2103'; padding-left: 3px; }
.w-fcast-prob         { font-size: 16px; }
.w-fcast-prob:after   { font-size: 10px; content: '%'; }

/* Trains */
.table.trains > tbody > tr > td {
    border: none;
}

/* Train schedules */
.train-time {
    font-size: 18px;
}
.train-delay {
    color: #f00;
    font-weight: bold;
    padding-left: 4px;
}
.train-dest {
}
.train-notes {
    color: #f00;
    font-weight: bold;
}
.train-type {
}
.train-platf {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

/* Travel advice */
.adv-time { font-size: 18px; }
.adv-dura { font-size: 18px; }
.adv-chgs { }
.adv-stat { }
.adv-delay { color: #f00; font-weight: bold; }
.adv-expired { color: #888; }
.adv-status-ok         {  }
.adv-status-subopt     {  }
.adv-status-impossible { color: #888; text-decoration: line-through; }
.adv-status-canceled   { color: #888; text-decoration: line-through; }
.adv-status-delayed    { color: #ffccc; }
.adv-warning:before { content: '\26a0'; font-size: 18px; font-weight: bold; color: #f00; }

/* BuienRadar map */
.radar-map {
    width: 100%;
    height: auto;
}
