.items {
    th, td {
        padding: 0.5rem;
    }

    .state {
        text-align: center;
    }

    .closed:before {
        content: '\2705';
    }

    .open {
        &:before {
            content: '\2757';
        }
        color: #000000;
        background-color: #ffcf0a;
    }

    .on {
        color: #000000;
        background-color: #ff0617;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0%   { opacity: 1; }
        25%  { opacity: 0.5; }
        100% { opacity: 1; }
    }
}