<section (click)="trainsResource.reload()" [class.outdated]="trainsResource.error()" [appSpinner]="trainsResource.isLoading()">
    <!-- Heading -->
    <h2>{{ config().departureStationName }}</h2>

    <!-- Departure times table -->
    @if (trainsResource.hasValue()) {
        <table class="departures h-ruled">
            @for (train of trainsResource.value().payload?.departures | slice:0:config().maxDepartureCount; track train.name) {
                @let delay = delayInMinutes(train);
                <tr animate.enter="fade-in" animate.leave="fade-out" [class.train-delayed]="delay > 0" [class.train-canceled]="train.cancelled">
                    <td class="train-time">{{ train.plannedDateTime | date:'HH:mm' }}</td>
                    <td class="train-delay">
                        @if (delay > 0) {
                            <span class="delay-value">+{{ delay }}</span>
                        }
                    </td>
                    <td class="train-dest" >
                        <div class="train-dest-name">{{ train.direction }}</div>
                        @for (msg of train.messages; track $index) {
                            @if (msg.type === 'DISRUPTION') {
                                <div class="train-notes">{{ msg.text }}</div>
                            }
                        }
                    </td>
                    <td class="train-type" >{{ train.product?.longCategoryName }}</td>
                    <td class="train-platf">{{ train.actualTrack || train.plannedTrack }}</td>
                </tr>
            }
        </table>
    }
</section>
