@import "../../styles.scss";

.w-icon {
    font-size: $font-size-xxl;
}

.w-icon-text {
    font-size: $font-size;
}

.w-text {
    font-size: $font-size;
}

.w-temp {
    font-size: $font-size-xxl;
}

.w-temp .wi-celsius {
    font-size: $font-size-xxl;
    vertical-align: text-top;
}

.w-updated {
    font-size: $font-size-s;
    float: right;
}

.w-columns {
    height: 512px;
    flex-wrap: nowrap;

    .column {
        .card {
            &.w-radar-map {
                position: relative;
                overflow: hidden hidden;
                padding: 0;
                flex-grow: 0;

                .radar-map {
                    z-index: 10;
                    border: none;
                    width: 550px;
                    height: 512px;
                }

                .radar-cross {
                    position: absolute;
                    top: 246px;
                    left: 268px;
                    z-index: 20;
                }

            }

            .w-smallicon {
                font-size: $font-size-xl;
                flex-grow: 1;

                // Colorise the wind speeds
                .wi-wind-beaufort-0  { color: #ffffff; }
                .wi-wind-beaufort-1  { color: #ddfff7; }
                .wi-wind-beaufort-2  { color: #b9ffee; }
                .wi-wind-beaufort-3  { color: #86ffe1; }
                .wi-wind-beaufort-4  { color: #e1ff86; }
                .wi-wind-beaufort-5  { color: #ffe614; }
                .wi-wind-beaufort-6  { color: #ffba00; }
                .wi-wind-beaufort-7  { color: #ff9600; }
                .wi-wind-beaufort-8  { color: #ff6f00; }
                .wi-wind-beaufort-9  { color: #ff4d00; }
                .wi-wind-beaufort-10 { color: #ff3c00; }
                .wi-wind-beaufort-11 { color: #ff2a00; }
                .wi-wind-beaufort-12 { color: #ff0000; }

                // Colorise other weather icons
                .wi-strong-wind { color: #ceeaa2; }
                .wi-humidity    { color: #dddddd; }
                .wi-barometer   { color: #c392ff; }
                .wi-raindrops   { color: #99ccff; }
                .wi-sunrise     { color: #99ff99; }
                .wi-sunset      { color: #ff9999; }
                .w-moon         { color: #ffd452; }

            }

            .w-smalltext {
                font-size: $font-size-l;
                flex-grow: 2;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .w-wind-dir {
                font-size: $font-size-xl;
            }

        }
    }
}

.w-fcast {
    font-size: $font-size;

    th {
        background-color: #666666;
        font-size: $font-size-l;
        font-weight: bold;
    }

    td {
        text-align: center;
    }

    .w-fcast-icon {
        font-size: $font-size-xl;
    }

    .w-fcast-temp:after {
        content: '\2103';
        padding-left: 3px;
    }

    .w-fcast-prob {
        padding-left: 0.1rem;
        padding-right: 0.5rem;
        &:after {
            content: '%';
        }
    }

    .w-fcast-probs .wi-raindrop {
        color: #99ccff;
    }

    .w-fcast-probs .wi-day-sunny {
        color: #ffcc00;
    }

}

