<section (click)="update()" ng-class="{outdated: vm.weatherErr}">
    <div class="row ruler" *ngIf="currentWeather">
        <!-- Current weather icon and text -->
        <div class="card w-2 w-icon">
            <i [ngClass]="['wi', currentWeather.icon.wiClass]"></i>
            <div class="w-icon-text">{{ currentWeather.icon.text }}</div>
        </div>
        <!-- Weather message -->
        <div class="card w-7 w-text">{{ currentWeather.message }}</div>
        <!-- Temperature -->
        <div class="card w-3 w-temp">
            {{ currentWeather.temperature }} <i class="wi wi-celsius"></i>
            <p class="w-updated">{{ currentWeather.station.updated | date:'HH:mm' }}</p>
        </div>
    </div>
    <div class="row w-columns" *ngIf="currentWeather">
        <!-- Left column -->
        <div class="column col-grow">
            <!-- Wind direction and speed -->
            <div class="card ruler">
                <span class="w-smallicon">
                    <i class="wi w-wind" [ngClass]="'wi-wind-beaufort-' + currentWeather.wind.speed"></i>
                </span>
                <span class="w-smalltext">
                    {{ currentWeather.wind.dirText }}
                    <span class="w-wind-dir">
                        <i class="wi wi-wind" [ngClass]="'from-' + currentWeather.wind.dirDegrees + '-deg'"></i>
                    </span>
                </span>
            </div>

            <!-- Wind gusts -->
            <div class="card ruler">
                <span class="w-smallicon"><i class="wi wi-strong-wind"></i></span>
                <span class="w-smalltext">{{ currentWeather.wind.gusts }} m/s</span>
            </div>

            <!-- Humidity -->
            <div class="card ruler">
                <span class="w-smallicon"><i class="wi wi-humidity"></i></span>
                <span class="w-smalltext">{{ currentWeather.humidity }}%</span>
            </div>

            <!-- Pressure -->
            <div class="card">
                <span class="w-smallicon"><i class="wi wi-barometer"></i></span>
                <span class="w-smalltext">{{ currentWeather.pressure }} hPa</span>
            </div>

        </div>
        <!-- Center column with the rain radar -->
        <div class="column">
            <div class="card w-radar-map">
                <iframe class="radar-map" [src]="radarMapUrl"></iframe>
                <img class="radar-cross" src="/assets/crosshair.png" alt="">
            </div>
        </div>
        <!-- Right column -->
        <div class="column col-grow">
            <!-- Rain -->
            <div class="card ruler">
                <span class="w-smallicon"><i class="wi wi-raindrops"></i></span>
                <span class="w-smalltext">{{ currentWeather.rain === '-' ? 0 : currentWeather.rain }} mm/h</span>
            </div>

            <!-- Sunrise -->
            <div class="card ruler">
                <span class="w-smallicon"><i class="wi wi-sunrise"></i></span>
                <span class="w-smalltext">{{ sunMoon.sunrise | date:'HH:mm' }}</span>
            </div>

            <!-- Sunset -->
            <div class="card ruler">
                <span class="w-smallicon"><i class="wi wi-sunset"></i></span>
                <span class="w-smalltext">{{ sunMoon.sunset | date:'HH:mm' }}</span>
            </div>

            <!-- Moon phase -->
            <div class="card">
                <span class="w-smallicon"><i [ngClass]="['wi', 'w-moon', sunMoon.moonPhaseWiClass]"></i></span>
                <span class="w-smalltext">{{ sunMoon.moonPhaseText }}</span>
            </div>
        </div>
    </div>

    <!-- Weather forecast -->
    <table class="w-fcast ruler" *ngIf="weatherForecast">
        <tr>
            <th *ngFor="let day of weatherForecast">{{ day.dow }}</th>
        </tr>
        <tr>
            <td *ngFor="let day of weatherForecast" class="w-fcast-icon"><i [ngClass]="['wi', day.icon.wiClass]"></i></td>
        </tr>
        <tr>
            <td *ngFor="let day of weatherForecast" class="w-fcast-temp">{{ day.temperature.highMax }}</td>
        </tr>
        <tr>
            <td *ngFor="let day of weatherForecast" class="w-fcast-temp">{{ day.temperature.lowMin }}</td>
        </tr>
        <tr>
            <td *ngFor="let day of weatherForecast" class="w-fcast w-fcast-probs">
                <i class="wi wi-raindrop"></i> <span class="w-fcast-prob">{{ day.rain.probability }}</span>
                <i class="wi wi-day-sunny"></i> <span class="w-fcast-prob">{{ day.probSun }}</span>
            </td>
        </tr>
    </table>

</section>