<section (click)="update()" ng-class="{outdated: vm.weatherErr}">

    <!-- Current conditions and temperature and message -->
    <div class="row ruler" *ngIf="currentWeather">
        <!-- Current weather icon and text -->
        <div class="card w-2 w-icon">
            <i [ngClass]="['wi', currentWeather.icon.wiClass]"></i>
            <div class="w-icon-text">{{ currentWeather.icon.text }}</div>
        </div>
        <!-- Weather message -->
        <div class="card w-7 w-text">{{ currentWeather.message }}</div>
        <!-- Temperature -->
        <div class="card w-3 w-temp">
            {{ currentWeather.temperature }} <i class="wi wi-celsius"></i>
            <p class="w-updated">{{ currentWeather.station.updated | date:'HH:mm' }}</p>
        </div>
    </div>

    <!-- Current weather details -->
    <table class="text-center v-ruled ruler" *ngIf="currentWeather">
        <tr>
            <!-- Wind direction and speed -->
            <td>
                <div class="w-smallicon">
                    <i class="wi w-wind" [ngClass]="'wi-wind-beaufort-' + currentWeather.wind.speed"></i>
                </div>
                <div class="w-smalltext">
                    {{ currentWeather.wind.dirText }}
                    <span class="w-wind-dir">
                        <i class="wi wi-wind" [ngClass]="'from-' + currentWeather.wind.dirDegrees + '-deg'"></i>
                    </span>
                </div>
            </td>

            <!-- Wind gusts -->
            <td>
                <div class="w-smallicon"><i class="wi wi-strong-wind"></i></div>
                <div class="w-smalltext">{{ currentWeather.wind.gusts }} <span class="w-unit">m/s</span></div>
            </td>

            <!-- Humidity -->
            <td>
                <div class="w-smallicon"><i class="wi wi-humidity"></i></div>
                <div class="w-smalltext">{{ currentWeather.humidity }} <span class="w-unit">%</span></div>
            </td>

            <!-- Pressure -->
            <td>
                <div class="w-smallicon"><i class="wi wi-barometer"></i></div>
                <div class="w-smalltext">{{ currentWeather.pressure | number:'.0-0' }} <span class="w-unit">hPa</span></div>
            </td>

            <!-- Rain -->
            <td>
                <div class="w-smallicon"><i class="wi wi-raindrops"></i></div>
                <div class="w-smalltext">{{ currentWeather.rain === '-' ? 0 : currentWeather.rain }} <span class="w-unit">mm/h</span></div>
            </td>

            <!-- Sunrise -->
            <td>
                <div class="w-smallicon"><i class="wi wi-sunrise"></i></div>
                <div class="w-smalltext">{{ sunMoon.sunrise | date:'H:mm' }}</div>
            </td>

            <!-- Sunset -->
            <td>
                <div class="w-smallicon"><i class="wi wi-sunset"></i></div>
                <div class="w-smalltext">{{ sunMoon.sunset | date:'H:mm' }}</div>
            </td>

            <!-- Moon phase -->
            <td>
                <div class="w-smallicon"><i [ngClass]="['wi', 'w-moon', sunMoon.moonPhaseWiClass]"></i></div>
                <div class="w-smalltext w-unit">{{ sunMoon.moonPhaseText }}</div>
            </td>
        </tr>
    </table>

    <!-- Radar map and weather forecast -->
    <div class="row flex-start flex-nowrap" *ngIf="currentWeather">
        <!-- Left column with the rain radar -->
        <div class="column">
            <h2>Buienradar</h2>
            <div class="w-radar-map">
                <iframe class="radar-map" [src]="radarMapUrl"></iframe>
                <div class="radar-cross"></div>
            </div>
        </div>
        <!-- Right column with the weather forecast-->
        <div class="column col-grow">
            <h2>Weather forecast</h2>
            <!-- Forecast table -->
            <table class="w-fcast v-ruled" *ngIf="weatherForecast">
                <tr>
                    <th *ngFor="let day of weatherForecast">{{ day.dow }}</th>
                </tr>
                <tr>
                    <td *ngFor="let day of weatherForecast" class="w-fcast-icon"><i [ngClass]="['wi', day.icon.wiClass]"></i></td>
                </tr>
                <tr>
                    <td *ngFor="let day of weatherForecast" class="w-fcast w-fcast-probs">
                        <i class="wi wi-day-sunny"></i> <span class="w-fcast-prob">{{ day.probSun }}</span>
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let day of weatherForecast" class="w-fcast w-fcast-probs">
                        <i class="wi wi-raindrop"></i> <span class="w-fcast-prob">{{ day.rain.probability }}</span>
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let day of weatherForecast" class="w-fcast-temp">{{ day.temperature.highMax }}</td>
                </tr>
                <tr>
                    <td *ngFor="let day of weatherForecast" class="w-fcast-temp">{{ day.temperature.lowMin }}</td>
                </tr>
            </table>

            <!-- Temp chart -->
            <div class="w-fcast-chart">
                <canvas baseChart width="400" height="400"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [legend]="false"
                        [chartType]="'line'"
                        [options]="chartOptions"></canvas>
            </div>

        </div>
    </div>

</section>
