@import "../../vars";

.w-icon {
    font-size: $font-size-xxl;
}

.w-icon-text {
    font-size: $font-size;
}

.w-text {
    font-size: $font-size;
}

.w-temp {
    font-size: $font-size-xxl;
}

.w-temp .wi-celsius {
    font-size: $font-size-xxl;
    vertical-align: text-top;
}

.w-updated {
    font-size: $font-size-s;
    float: right;
}

.w-radar-map {
    position: relative;
    overflow: hidden hidden;
    padding: 0;
    flex-grow: 0;

    .radar-map {
        z-index: 10;
        border: none;
        width: 550px;
        height: 512px;
    }

    .radar-cross {
        position: absolute;
        top: 246px;
        left: 268px;
        z-index: 20;
        width: 20px;
        height: 20px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAMElEQVQ4y2NgIAL87+v7/7+v7z8xapkYqAxGDRw1kAzASGyCHTAXMoxmvVEDh6OBADGuD6YQnXc4AAAAAElFTkSuQmCC);
    }
}

.w-smallicon {
    font-size: $font-size-xl;

    // Colorise the wind speeds
    .wi-wind-beaufort-0  { color: #ffffff; }
    .wi-wind-beaufort-1  { color: #ddfff7; }
    .wi-wind-beaufort-2  { color: #b9ffee; }
    .wi-wind-beaufort-3  { color: #86ffe1; }
    .wi-wind-beaufort-4  { color: #e1ff86; }
    .wi-wind-beaufort-5  { color: #ffe614; }
    .wi-wind-beaufort-6  { color: #ffba00; }
    .wi-wind-beaufort-7  { color: #ff9600; }
    .wi-wind-beaufort-8  { color: #ff6f00; }
    .wi-wind-beaufort-9  { color: #ff4d00; }
    .wi-wind-beaufort-10 { color: #ff3c00; }
    .wi-wind-beaufort-11 { color: #ff2a00; }
    .wi-wind-beaufort-12 { color: #ff0000; }

    // Colorise other weather icons
    .wi-strong-wind { color: #ceeaa2; }
    .wi-humidity    { color: #dddddd; }
    .wi-barometer   { color: #c392ff; }
    .wi-raindrops   { color: #99ccff; }
    .wi-sunrise     { color: #99ff99; }
    .wi-sunset      { color: #ff9999; }
    .w-moon         { color: #ffd452; }
}

.w-smalltext {
    font-size: $font-size-l;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-unit {
    font-size: $font-size;
}

.w-wind-dir {
    font-size: $font-size-xl;
}

.w-fcast {
    font-size: $font-size;

    th {
        background-color: #666666;
        font-size: $font-size-l;
        font-weight: bold;
        padding: 0.4rem;
    }

    td {
        text-align: center;
        padding: 0.4rem;
    }

    .w-fcast-icon {
        font-size: $font-size-xl;
        color: #ffdbaf;
    }

    .w-fcast-temp{
        font-size: $font-size-l;
        &:after {
            font-size: $font-size;
            content: '\2103';
            padding-left: 3px;
            vertical-align: text-top;
        }
    }

    .w-fcast-prob {
        padding-left: 0.1rem;
        padding-right: 0.5rem;
        &:after {
            content: '%';
        }
    }

    .w-fcast-probs .wi-raindrop {
        color: #99ccff;
    }

    .w-fcast-probs .wi-day-sunny {
        color: #ffcc00;
    }

}

.w-fcast-chart {
    position: relative;
    width: 97%;
    margin-left: 10px;
    height: 250px;
}

.temp-hi {
    color: #ffcc00;
}
.temp-lo {
    color: #99ccff;
}
