<section *ngIf="departures" (click)="update()" ng-class="{outdated: vm.trainErr}">
    <!-- Heading -->
    <h2>{{ departureStation }}</h2>

    <!-- Departure times table -->
    <table class="departures">
        <tr *ngFor="let bus of departures" [ngClass]="{'bus-delayed': bus.delay}">
            <td class="bus-time">{{ bus.TargetDepartureTime | date:'HH:mm' }}</td>
            <td class="bus-delay"><span class="delay-value" *ngIf="bus.delay">{{ bus.delay }}</span></td>
            <td class="bus-line">{{ bus.LinePublicNumber }}</td>
            <td class="bus-dest">{{ bus.DestinationName50 }}</td>
        </tr>
    </table>
</section>