@if (items) {
    <section (click)="update()" [class.outdated]="error" [appSpinner]="dataLoading">
        <!-- Heading -->
        <h2>Security</h2>

        <!-- Security items -->
        <table class="items v-ruled">
            <tr>
                @for (item of items; track item.name) {
                    <th>{{ item.label || item.name }}</th>
                }
            </tr>
            <tr>
                @for (item of items; track item.name) {
                    <td class="state" [class]="item.state | lowercase">{{ item.state | lowercase }}</td>
                }
            </tr>
        </table>
    </section>
}
