@use "src/vars";

.news-item {
    text-align: center;
    padding: 1rem;
}

.news-image {
    img {
        border-radius: 6px;
    }
}
.news-title {
    font-size: vars.$font-size;
    color: #fff1d0;
    padding: 0.2rem;
}
.news-desc {
    font-size: vars.$font-size-s;
    padding: 0.1rem;
}
.news-updated {
    font-size: vars.$font-size-s;
    color: vars.$color-pale-fg;
}
