@import "../../styles.scss";

.news-item {
    text-align: center;
    padding: 1rem;
}

.news-title {
    font-size: $font-size;
    color: #ffef91;
    padding: 0.2rem;
}
.news-desc {
    font-size: $font-size-s;
    padding: 0.1rem;
}
.news-updated {
    font-size: $font-size-s;
    color: $color-pale-fg;
}
