<section (click)="update()" [class.outdated]="error()" [appSpinner]="dataLoading">
    <!-- Heading -->
    <h2>Waste collection</h2>

    <!-- Departure times table -->
    <table class="waste-collection h-ruled">
        @for (cd of collectionDays(); track $index) {
            <tr animate.enter="fade-in" animate.leave="fade-out">
                <td>{{ cd.date | date:'ccc dd MMM' }}</td>
                <td class="waste-day"><span [class]="'day-'+cd.dateName">{{ cd.dateName }}</span></td>
                <td class="waste-type" [class]="'type-'+cd.type">{{ cd.type | titlecase }}</td>
            </tr>
        }
    </table>
</section>
