@use "vars";

.waste-collection {
    font-size: vars.$font-size;

    tr {
        td {
            padding: 0.5rem 0.2rem;
        }
    }
}

.waste-day {
    font-size: vars.$font-size-s;
    color: vars.$color-pale-fg;
    text-align: center;
}

.waste-type {
    color: #fff;
    text-align: center;
}

.wave-animation-container {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

.badge {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.33rem;
}

.wave-animation {
    mask-image: linear-gradient(130deg, #fff 55%, #ffffff30 75%, #fff 95%);
    mask-size: 200% 100%;
    animation: wave-animation-frames 2s linear infinite;
    border-radius: 0.25rem;
    padding: 0.33rem;
}

@keyframes wave-animation-frames {
    100% {
        mask-position: -200% 0%;
    }
}

.day-yesterday {
    color: #1dac05;
}

.day-today {
    color: #fff;
    background-color: #1dac05;
}

.day-tomorrow {
    color: #000;
    background-color: #ffe614;
}

.type-restafval {
    background-color: #888888;
}

.type-pmd {
    background-color: #ff9600;
}

.type-gft {
    background-color: #1dac05;
}

.type-papier {
    background-color: #0043ff;
}
