<section class="row" *ngIf="currentWeather" (click)="update()" ng-class="{outdated: vm.weatherErr}">
    <div class="card w-4 w-icon">
        <i [ngClass]="['wi', currentWeather.icon.wiClass]"></i>
        <div class="w-icon-text">{{ currentWeather.icon.text }}</div>
    </div>
    <div class="card w-4 w-text">{{ currentWeather.message }}</div>
    <div class="card w-4 w-temp">
        {{ currentWeather.temperatuurGC }} <i class="wi wi-celsius"></i>
        <p class="w-updated">{{ currentWeather.datum | date:'HH:mm' }}</p>
    </div>
</section>