<section *ngIf="departures" (click)="update()" [class.outdated]="error" [appSpinner]="loading">
    <!-- Heading -->
    <h2>{{ departureStation }}</h2>

    <!-- Departure times table -->
    <table class="departures h-ruled">
        <tr *ngFor="let train of departures" [class.train-delayed]="train.delay" [class.train-canceled]="train.cancelled">
            <td class="train-time" >{{ train.plannedDateTime | date:'HH:mm' }}</td>
            <td class="train-delay"><span class="delay-value" *ngIf="train.delay">{{ train.delay }}</span></td>
            <td class="train-dest" >
                <div class="train-dest-name">{{ train.direction }}</div>
                <div class="train-notes" *ngFor="let msg of train.disruptions">{{ msg.text }}</div>
            </td>
            <td class="train-type" >{{ train.product.longCategoryName }}</td>
            <td class="train-platf">{{ train.actualTrack || train.plannedTrack }}</td>
        </tr>
    </table>
</section>
