/***********************************************************************************************************************
 Variables
***********************************************************************************************************************/

// Font sizes
$font-size: 18px;
$font-size-s: $font-size * 0.75;
$font-size-l: $font-size * 1.5;
$font-size-xl: $font-size * 2;
$font-size-xxl: $font-size * 4;

// Base colours
$color-body-bg: #000;
$color-body-fg: #fff;
$color-pale-fg: #888;
$color-ruler: #666;
$color-ruler-pale: #333;

$color-accent-1: #ffcc00;
$color-accent-2: #99ccff;

// Number of columns
$columns: 12;
