@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/***********************************************************************************************************************
 Variables
***********************************************************************************************************************/

// Font sizes
$font-size: 18px;
$font-size-s: $font-size * 0.75;
$font-size-l: $font-size * 1.5;
$font-size-xl: $font-size * 2;
$font-size-xxl: $font-size * 4;

// Base colours
$color-body-bg: #000;
$color-body-fg: #fff;
$color-pale-fg: #777;
$color-ruler: #666;
$color-ruler-pale: #333;

// Number of columns
$columns: 12;

/***********************************************************************************************************************
 Establish base rules
***********************************************************************************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: $font-size;
    line-height: 1.15;
}

img {
    vertical-align: middle;
    border-style: none;
}

table {
    border-collapse: collapse;
}

/***********************************************************************************************************************
 Elements
***********************************************************************************************************************/

body {
    margin: 0; // 1
    background-color: $color-body-bg;
    color: $color-body-fg;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.col-grow {
        flex-grow: 1;
    }

    .card {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
    }
}

.card {
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 0.5rem 0;
}

@for $i from 1 through $columns {
    .w-#{$i} {
        flex: 0 0 percentage($i / $columns);
        max-width: percentage($i / $columns);
    }
}

table {
    width: 100%;

    td {
        vertical-align: middle;
        border: none;
    }

    // Table with horizontal rulers
    &.h-ruled {
        tr {
            border-bottom: 1px $color-ruler-pale solid;

            &:last-child {
                border-right: none;
            }
        }
    }

    // Table with vertical rulers
    &.v-ruled {
        td, th {
            border-right: 1px $color-ruler-pale solid;

            &:last-child {
                border-right: none;
            }
        }
    }
}

// Headings
@for $i from 1 through 6 {
    h#{$i} {
        text-align: center;
        margin: 1em 0 0.14em 0;
    }
}

/***********************************************************************************************************************
 Utilities
***********************************************************************************************************************/

.opaque {
    background-color: #000000;
}

.ruler {
    border-bottom: 1px $color-ruler solid;
}
.ruler-top {
    border-top: 1px $color-ruler solid;
}

.pl-1 {
    padding-left: 0.3rem;
}
.pl-2 {
    padding-left: 0.6rem;
}
.pr-1 {
    padding-right: 0.3rem;
}
.pr-2 {
    padding-right: 0.6rem;
}
.pb-1 {
    padding-bottom: 0.3rem;
}
.pb-2 {
    padding-bottom: 0.6rem;
}

.text-center {
    text-align: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
