@let cw = currentWeather();
@let ast = astro();
<section [class.outdated]="error" [appSpinner]="dataLoading">
    <!-- Current weather and astronomic data -->
    @if (cw && ast) {
        <app-current-weather [weather]="cw" [astro]="ast" (click)="update()"/>
    }

    <!-- Radar map and weather forecast -->
    @if (cw) {
        <div class="row flex-start flex-nowrap ruler">
            <!-- Left column with the rain radar -->
            @if (radarMapUrl(); as mu) {
                <div class="column">
                    <app-radar-map [mapUrl]="mu" (click)="update()"/>
                </div>
            }

            <!-- Right column with the weather forecast-->
            @if (dayForecasts(); as df) {
                <div class="column flex-grow-1">
                    <app-weather-forecast [dayForecasts]="df" (click)="update()"/>
                </div>
            }
        </div>
    }
</section>
