body, html {
    height: 100%;
    overflow: hidden;
}

.table {
    margin-bottom: 0;
}
.width50 { width: 50.000% }

/* Date and time */
.table.datetime td {
    vertical-align: middle;
    text-align: center;
    width: 33.333%;
    border: none;
}
.table.datetime td.dt-date { font-size: 70px; }
.table.datetime td.dt-dow  { font-size: 35px; }
.table.datetime td.dt-time { font-size: 80px; font-weight: bold; }

/* Weather */
.table.weather td {
    vertical-align: middle;
    text-align: center;
}
.table.weather th {
    vertical-align: middle;
    text-align: center;
    background-color: #333;
}
.table td.w-icon      { width: 28.0%; font-size: 92px; }
.w-icon-text          { font-size: 14px; }
.table td.w-text      { width: 44.0%; font-size: 24px;  }
.table td.w-temp      { width: 28.0%; font-size: 80px;  }
.w-temp .wi-celsius   { font-size: 70px; vertical-align: text-top; }
.table td.w-smallicon {
    min-width: 60px;
    font-size: 32px;
    padding: 0; }
.table td.w-smalltext {
    font-size: 18px;
    text-align: left;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w-smallicon .wi-wind-beaufort-0  { color: #ffffff; }
.w-smallicon .wi-wind-beaufort-1  { color: #ddfff7; }
.w-smallicon .wi-wind-beaufort-2  { color: #b9ffee; }
.w-smallicon .wi-wind-beaufort-3  { color: #86ffe1; }
.w-smallicon .wi-wind-beaufort-4  { color: #e1ff86; }
.w-smallicon .wi-wind-beaufort-5  { color: #ffe614; }
.w-smallicon .wi-wind-beaufort-6  { color: #ffba00; }
.w-smallicon .wi-wind-beaufort-7  { color: #ff9600; }
.w-smallicon .wi-wind-beaufort-8  { color: #ff6f00; }
.w-smallicon .wi-wind-beaufort-9  { color: #ff4d00; }
.w-smallicon .wi-wind-beaufort-10 { color: #ff3c00; }
.w-smallicon .wi-wind-beaufort-11 { color: #ff2a00; }
.w-smallicon .wi-wind-beaufort-12 { color: #ff0000; }
.w-smallicon .wi-strong-wind { color: #ceeaa2; }
.w-smallicon .wi-humidity    { color: #ddd; }
.w-smallicon .wi-barometer   { color: #c392ff; }
.w-smallicon .wi-raindrops   { color: #9cf; }
.w-smallicon .wi-sunrise     { color: #9f9; }
.w-smallicon .wi-sunset      { color: #f99; }
.w-smallicon .w-moon         { color: #ffd452; }

.w-updated   { font-size: 11px; float: right; }

.table th.w-fcast     { font-size: 26px; }
.table td.w-fcast     { font-size: 20px; border: none; }
.w-fcast-temp         { font-size: 16px; }
.w-fcast-temp:after   { font-size: 10px; content: '\2103'; padding-left: 3px; }
.w-fcast-prob         { font-size: 16px; }
.w-fcast-prob:after   { font-size: 10px; content: '%'; }
.w-fcast-probs .wi-raindrop  { color: #9cf; }
.w-fcast-probs .wi-day-sunny { color: #fc0; }

/* BuienRadar map */
.table.weather td.w-radar-map {
    position: relative;
    overflow-y: hidden;
    height: 500px;
    width: 850px;
}
.radar-map {
    width: 100%;
    height: auto;
    position: absolute;
    top: -245px;
    left: 0;
    z-index: 10;
}
.radar-cross {
    position: absolute;
    top: 154px;
    left: 430px;
    z-index: 20;
}

/* Trains */
.table.trains > tbody > tr > td {
    border: none;
}

/* Train schedules */
.train-time {
    font-size: 18px;
}
.train-delay {
    color: #f00;
    font-weight: bold;
    padding-left: 4px;
}
.train-dest {
}
.train-notes {
    color: #f00;
    font-weight: bold;
}
.train-type {
}
.train-platf {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

    font-size: 18px;
/* Travel advice */
.adv-time { font-size: 18px; }
.adv-dura { font-size: 18px; }
.adv-chgs { }
.adv-stat { }
.adv-delay { color: #f00; font-weight: bold; }
.adv-expired { color: #888; }
.adv-status-ok           { }
.adv-status-subopt       { }
.adv-status-impossible   { color: #888; text-decoration: line-through; }
.adv-status-canceled     { color: #888; text-decoration: line-through; }
.adv-status-delayed      { }
.adv-status-changed      { color: #ffffcc; }
.adv-status-plan-changed { }
.adv-status-new          { }
.adv-warning:before { content: '\26a0'; font-size: 18px; font-weight: bold; color: #f00; }

/* Busses */
.table.busses > tbody > tr > td {
    border: none;
}
.bus-time {
    font-size: 18px;
}
.bus-delay {
    color: #f00;
    font-weight: bold;
    padding-left: 4px;
}
.bus-line {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.bus-dest {
    font-size: 18px;
}

/* FX rates */
.table.fx {
    background-color: #000;
    position: fixed;
    bottom: 0;
    z-index: 30;
}
.table.fx td {
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}
.fx-ccy {
    font-size: 40px;
    font-weight: bold;
}
.fx-move { font-size: 16px; }
.fx-move.up { color: #1dac05; }
.fx-move.up:before { content: '\25b2';}
.fx-move.down { color: #ff2d2d; }
.fx-move.down:before { content: '\25bc';}
